:root {
    --bgcolor: #F7F7F7;
    --accent: #6D9886;
    --tint: #384c43;

    --headingcolor: #43835e;
    --text: #393E46;
    --textaccent: #48a674;
    
    --skilliconcolor: #585858;
    --socialiconhover: #50c386;
    
    --projectCard: #bfdbaf;
    --projecttitle: var(--accent);
    --projecttitledark: #060807;
  }

html{
    background-color: var(--bgcolor);
    scroll-behavior: smooth;
}

/*---------------------------------------------------Navigation Bar---------------------------------------------------*/
.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    right: 0;
    z-index: 999;
  }

.navbar.sticky{
    background-color: var(--accent);
}

.navbar .logo a{
    color: var(--accent);
    font-size: 30px;
    font-weight:200;
    cursor: pointer;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar.sticky .logo a{
    color: var(--bgcolor);
    font-size: 30px;
    font-weight:200;
    cursor: pointer;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .logo a:hover{
    color: var(--tint);
    background-color: var(--bgcolor);
}

.navbar.sticky .logo a:hover{
    color:var(--tint);
    background-color: var(--accent);
}

.nav-links a {
    color: var(--accent);
    text-align: center;
    font-size: 20px;
    padding: 22px 25px;
    text-decoration: none;
  }

.navbar.sticky .nav-links a{
    color: var(--bgcolor);
    text-align: center;
    padding: 22px 25px;
    text-decoration: none;
}
  
.nav-links a:hover {
    color: var(--tint);
    background-color: var(--bgcolor);
  }

.navbar.sticky .nav-links a:hover {
    background: var(--bgcolor);
    color: var(--accent);
  }
  
.openbtn{
    display: none;
}

.navbar.sticky .openbtn{
    display: none;
}

.nav-links .closebtn{
    display: none;
}

.navbar.sticky .nav-links .closebtn{
    display: none;
}

.nav-list li{
    display: inline;
}

.nav-list{
    display: block;
    float: right;
}
/*---------------------------------------------------Home Page---------------------------------------------------*/

.home-content{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10%;
    padding-bottom: 5%;
}

.home-text{
    flex: 100%;
    padding-top: 1%;
    padding-bottom: 5%;
    text-align: center;
}

.home-img{
    flex: 0%;
    /*background-image: url("3.jpg");*/
    background-size: contain;
    background-repeat: no-repeat;
}

.hello{
    color:var(--text);
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.i_am{
  display: block;
  color:var(--text);
  font-size: 50px;
  font-weight: 400;
  margin-left: -3px;
}

.iam{
  color:var(--textaccent);
}

/*---------------------------------------------------About Section---------------------------------------------------*/
.about{
    padding-left: 5%;
    padding-right: 5%;
}

.about-div{
    /*background-color: aliceblue;*/
    padding-top: 3%;
    padding-bottom: 5%;
    border-radius: 4%;
}

.about-heading{
    color: var(--headingcolor);
    font-size: 60px;
    font-weight: 100;
    font-family: sans-serif;
    text-align: center;
}

.about-content{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
}

.about-text{
    flex: 60%;
    color:var(--text);
    font-size: 25px;
    font-weight: 200;
}

.about-picture{
    flex: 40%;
}

.about-picture img{
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

.about-intro{
    color:var(--text);
    font-size: 30px;
    font-weight: 200;
}
  
.intro{
    color:var(--textaccent)
  }

/*---------------------------------------------------Project Section---------------------------------------------------*/
.project{
    padding-top: 3%;
    padding-bottom: 3%;
}

.project-heading{
    color:var(--headingcolor);
    font-size: 60px;
    font-weight: 100;
    font-family: sans-serif;
    text-align: center;
}

.project .carousel .card{
    background: var(--projectCard);
    border-radius: 2%;
    padding: 5px 5px;
    height: 30%;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 2px solid var(--tint);
}

/*Arcade Games
.project .carousel .c1{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdCJpVcLke7psws7XJnsTU1S80Pbw8aXWEZQ&usqp=CAU');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.project .carousel .c1 .project-title{
    color: var(--projecttitledark)
}*/

 .project .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    text-decoration: none;
}

.project .carousel .card .project-title{
    color:var(--text);
    font-size: 25px;
    font-weight: 500;
}

.project .carousel .card .project-subtitle{
    font-size: 20px;
    font-weight: 300;
    padding-top: 5%;
    color:var(--text);
}

.project .carousel .card:hover{
    border: 5px solid var(--tint);
    background-image: none;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid var(--accent)!important;
    transition: all 0.3s ease;
}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active{
    background: var(--accent)!important;
}

.owl-dot:hover{
    background: var(--accent)!important;
}

/*---------------------------------------------------Skills Section---------------------------------------------------*/
.skills{
    padding-left: 5%;
    padding-right: 5%;
}

.skills-div{
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 4%;
}

.skills-heading{
    color: var(--headingcolor);
    font-size: 60px;
    font-weight: 100;
    font-family: sans-serif;
    text-align: center;
}

.skills-content{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.skills-text{
    flex: 60%;
    color:var(--text);
    font-size: 25px;
    font-weight: 200;
}

.skills-icons{
    flex: 40%;
    color: var(--skilliconcolor);
    font-size: 75px;
}

.skill-set{
    text-align: left;
}

.type{
    color:var(--textaccent);
}

.skill-set li{
    display: inline;
    padding-inline-end: 20px;
}

/*---------------------------------------------------Contact Section---------------------------------------------------*/
.contact{
    align-items: center;
    padding-top: 5%;
}

.contact-heading{
    color:var(--headingcolor);
    font-size: 60px;
    font-weight: 100;
    font-family: sans-serif;
    text-align: center;
}

.contact p{
    color:var(--text);
    font-size: 25px;
    font-weight: 200;
    text-align: center;
}

.contact-icons{
    text-align: center;
    padding-bottom: 20px;
}

.socials {
    font-size: 25px;
    color: var(--text);
    text-decoration: none;
    padding-right: 5%;
    padding-left: 5%;
}

.socials:hover {
    color: var(--socialiconhover);
    margin-bottom: 50px;
}

/*---------------------------------------------------Footer---------------------------------------------------*/
.farewell-note{
    color:var(--textaccent);
    text-align: center;
}

.farewell-note-p{
    text-align: center;
}